body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #009688 20%, #dadbd3 20% 100%);
}

.app-container {
    width: 70%;
    margin: 0 auto;
    height: 450px;
    background-color: white;
    position: relative;
    top: 30px;
    display: flex;
}

.chats-container {
    width: 35%;
}

.on-chat {
    width: 75%;
}

.user-container {
    height: 40px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.shut-up-container {
    height: 50px;
    background-color: #8edafc;
    border-bottom: 1px solid gray;
    padding-top: 10px;
}

.search {
    height: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats {
    display: flex;
    height: calc(100% - 110px);
}

.chat-container {
    overflow-y: auto;
    width: calc(100% - 10px);
}

.chat {
    width: calc(100% - 10px);
    height: 50px;
    border-bottom: 1px solid gray;
}

.scrollbar {
    width: 10px;
    height: calc(100% - 11px);
    background-color: #f1f1f1;
}

.actual-chat-indicator {
    height: 40px;
    background-color: #eaeaea;
}

.chat-space {
    height: calc(100% - 90px);
    display: flex;
}

.actual-chat {
    width: calc(100% - 10px);
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.chat-scrollbar {
    width: 10px;
    height: 100%;
    background-color: #f1f1f1;
}

.text {
    height: 50px;
}

.user-info, .user-icons, .shut-up-container, .chat, .chat-prevew, .actual-chat-indicator, .actual-chat-icons, .interlocutor-info, .scrollbar, .chat-scrollbar {
    display: flex;
}

.chat, .actual-chat-indicator {
    justify-content: space-between;
}

.user-img, .interlocutor-img {
    width: 35px;
    height: 35px;
}

.user-img img, .interlocutor-img img {
    width: 100%;
    border-radius: 100%;
}

.user-icon, .actual-chat-icon {
    width: 40px;
    height: 40px;
}

.shut-up-icon {
    height: 40px;
    width: 40px;
    background-color: #f2fbff;
    border-radius: 100%;
    margin-left: 10px;
}

.search input {
    width: 95%;
    height: 50%;
}

.chat-img {
    height: 45px;
    width: 45px;
}

.chat-img img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.scrollbar, .chat-scrollbar {
    flex-direction: column;
    justify-content: space-between;
}

.scroll-icon {
    width: 10px;
    height: 10px;
}

.actual-chat {
    display: flex;
    flex-direction: column;
}

.user-message {
 align-self: end;
 background-color: #d5f9ba;
}

.interlocutor-message {
align-self: start;
background-color: #ffffff;
width: 50%;
}

.user-message, .interlocutor-message {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.message-details {
    align-self: end;
    font-size: x-small;
}

.text {
    display: flex;
    background-color: #f3eeea;
}

.emoji {
    width: 50px;
    height: 50px;
}

.vocal {
    width: 50px;
    height: 50px;
}

.insert-text {
    width: calc(100% - 100px);
    height: 50px;
    display: flex;
    align-items: center;
}

.insert-text input {
    width: 100%;
}

.user-icon, .shut-up-icon, .actual-chat-icon, .emoji, .vocal, .scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-icon i {
    scale: 0.5;
}

i {
    color: #b1b1b1;
}

.shut-up-container i {
    color: #8cd8fb;
}

.su-description-2 {
    text-decoration: underline;
}

.shut-up-description {
    margin-left: 10px;
    font-size: small;
    margin-top: 5px;
}

.username {
    margin-top: 10px;
    margin-left: 10px;
}

.interlocutor-name {
    margin-top: 10px;
    margin-left: 10px;
}

.chat-prevew-time {
    line-height: 40px;
    margin-right: 10px;
    font-size: x-small;
}

.chat-name {
    font-weight: bold;
}

.chat-text {
    color: gray;
    font-size: small;
}

.chat-info-prevew {
    margin-left: 10px;
    margin-top: 5px;
}

.chat-img, .user-img, .interlocutor-img {
    margin-left: 10px;
}

.chat-first-container {
    display: flex;

}

.flex-end {
align-self: end;
width: 50%;
}
.flex-start {
    align-self: start;
    width: 50%;
}

.user-message, .interlocutor-message {
width: 100%;
}



